.root {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: space-evenly;
    
}

.search {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 2% 0;
    
    padding-left: 1%;

    width: 80%;
    max-width: 1200px;
    // height: 30px;
    // background-color: #FFFFFF;
    // border-radius: 5px;


    @media (max-width: 500px) {
        height: 3%;
    }
    @media (min-width: 1000px) {
        // justify-content: space-evenly;
    }
    img {
        width: 15px;
        height: 15px;
    }
    
    .search__clear {
        width: 10px;
        height: 10px;
        position: absolute;
        left: 20px;
        top: 40%;
        cursor: pointer;
        z-index: 2;

        @media (max-width: 800px) {
            width: 7px;
            height: 7px;
            left: 12px;
            top: 40%;
        }

        @media (max-width: 1000px) {
            left: 15px;
            top: 40%;
        }
        @media (min-width: 1601px) {
            left: 800px;
            top: 25%;
        }
    }
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    @media (max-width: 400px) {
        width: 50px;
    }
    @media (max-width: 800px) {
        width: 100px;
    }
    @media (max-width: 120px) {
        width: 150px;
    }
    @media (max-width: 1440px) {
        width: 200px;
    }
    @media (min-width: 1441px) {
        width: 150px;
    }
}
