@import '../../assets/styles/variables.scss';

body {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: linear-gradient(0.25turn, #0562ab, #0a5faf, #0362a9);
}

header {
    background: $color-white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1% 7%;


    // @media (max-width: 800px) {
    //     padding: 0 calc(50 / 800 * 100vw);
    // }
}
img {
    margin-right: 5px;
}  
.header {
    color: $color-black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
 
    h3{
        font-size: 20px;
        text-transform: uppercase;
        margin-left: 10px;
    }
}

.contacts {
    width: 40%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 500;

    @media screen and (min-width: 1280px) and (max-width: 1599px) {
        font-size: 16px;
    }
}
.phone,
.email {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.phone {
    width: 60%;
}

.navigation__cart,
.user {
    cursor: pointer;
}

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 1% 7%;
    background-color: $color-white;
}

// .navigation__left {
//     display: flex;
//     flex-direction: row;
//     justify-content: space-between;
// }
    
.navigation__link {
    padding-right: 20px;
    cursor: pointer;
    font-size: 24px;
    font-weight: 800;
    color: $color-black;
}



// .navigation__right {
//     display: flex;
//     flex-direction: row;
//     align-items: center;

    // @media (max-width: 800px) {
    //     flex-direction: column;
    //     align-items: flex-end;
    // }
// }




.content {
    padding: 1%;
}