@import '../../assets/styles/variables.scss';

body {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: linear-gradient(0.25turn, #0562ab, #0a5faf, #0362a9);
}

header {
    background: $color-white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 1% 7%;
}

img {
    margin-right: 5px;
}  

.header {
    color: $color-black;
    display: flex;
    flex-direction: row;
    align-items: center;
 
    h3 {
        font-size: 20px;
        text-transform: uppercase;
        margin-left: 10px;

        @media screen and (min-width: 1024px) and (max-width: 1279px) {
            width: 100px;
        }

        @media screen and (min-width: 800px) and (max-width: 1023px) {
            width: 100px;
        }
    }
}

.contacts {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 500;

    @media screen and (min-width: 1280px) and (max-width: 1599px) {
        font-size: 16px;
    }

    @media screen and (min-width: 1024px) and (max-width: 1279px) {
        flex-direction: column;   
        width: 60%;
        font-size: 14px;
        align-items: flex-start;
    }

    @media screen and (min-width: 800px) and (max-width: 1023px) {
        flex-direction: column;   
        width: 60%;
        font-size: 14px;
        align-items: flex-start;
    }
}

.phone,
.email {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navigation__cart,
.user {
    cursor: pointer;
}

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 1% 7%;
    background-color: $color-white;
}

.navigation__link {
    padding-right: 20px;
    cursor: pointer;
    font-size: 24px;
    font-weight: 800;
    color: $color-black;

    @media screen and (min-width: 1024px) and (max-width: 1279px) {
        font-size: 20px;
    }
}

.content {
    padding: 1%;
}

@media screen and (max-width: 799px) {

    header {
        background: $color-white;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        padding: 1% 7%;
    }
    
    img {
        margin-right: 5px;
    }  
    .header {
        display: flex;
        flex-direction: row;
        align-items: center;
    
        h3{
            font-size: 14px;
            text-transform: uppercase;
            margin-left: 10px;
        }
    }

    .contacts {
        width: 40%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        font-size: 12px;
        font-weight: 500;

    }

    .phone,
    .email {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .phone {
        width: 150px;
        padding-left: 5px;
    }

    .navigation {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }

    .navigation__link {
        padding-right: 20px;
        cursor: pointer;
        font-size: 12px;
        font-weight: 600;
        color: $color-black;
    }
}