* {
    box-sizing: border-box;
}
.root {
    position: relative;
    display: flex;
    justify-content: center;
    // margin-bottom: 2%;
    width: 80%;
    max-width: 800px;
    
    .inputDefault {
        width: 100%;
        max-width: 800px;
        padding: 5px 15px;
        text-align: left;
        color: #013976;
        font-size: 1.5em;
        font-weight: 800;
        outline: none;
        // border: 3px solid #013976;
        border-radius: 10px;

        @media (max-width: 375px) {
            font-size: 0.8em;
        }
    }

    .inputDefault:focus {
        box-shadow: 0px 0px 20px 3px rgba(0,0,0, 0.50)
    }

  }

.errorMsg {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 1.5em;
    font-weight: 600;
    color: #E6230F;
    pointer-events: none;

    @media (max-width: 375px) {
        right: 10px;
        font-size: 0.8em;
    }
    @media (max-width: 800px) {
        right: 10px;
    }
}

.inputError {
    border: 3px solid #e6230f;
}